#input_form-container {
    display: none;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 220px;
    background-color: white;
    z-index: 20;
}

#input_form_label {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#close_button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    border: none;
    color: black;
    background-color: white;
}

#input_form {
    position: absolute;
    width: 100px;
    height: 30px;
    font-size: 22px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#input_form_button {
    position: absolute;
    width: 60px;
    height: 28px;
    font-size: 20px;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: rgba(148, 170, 255, 1);
}

#cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 19;
}

#recipe-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 220px;
    width: 100%;
}

#recommend_sheet_label {
    margin-bottom: 20px;
    justify-self: center;
    font-size: 25px;
}

input.button {
    justify-self: center;
    width: 200px;
    height: 50px;
    font-size: 24px;
    background-color: white;
}